/* 将此CSS文件包含在每个HTML文件中 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

nav {
    background-color: #cc0000; /* 北大红 */
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

nav > header {
    text-align: center;
    padding: 10px;
    background-color: #880000; /* 深色红 */
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    text-align: center;
    width: 100%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #990000;
}

nav ul li a.active {
    background-color: #880000;
}

section {
    padding: 20px;
    margin-left: 210px; /* 为左侧导航栏留出空间 */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

table thead {
    background-color: #e7e7e7;
    color: #333;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #cc0000; /* 北大红 */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    width: 100%;
}

/* 响应式设计 */
@media (max-width: 768px) {
    nav {
        position: relative;
        width: 100%;
        height: auto;
    }

    nav > header {
        text-align: left;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 10px 0;
    }

    section {
        margin-left: 0;
    }
}
