/* 将此CSS文件包含在每个HTML文件中 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header {
    background-color: #cc0000; /* 北大红 */
    color: white;
    font-size: 2em;
    font-weight: bold;
    padding: 20px 20px; /* Adjusted padding to accommodate text */
    text-align: left;
    width: calc(100% - 40px); /* Subtract the left and right padding */
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

nav {
    background-color: #ffffff; /* 白色背景 */
    width: 200px;
    position: fixed;
    top: 80px; /* 大标题的高度 */
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    padding-top: 20px; /* 留出空间 */
    height: calc(100% - 80px); /* 减去头部的高度 */
    overflow-y: auto; /* 超出部分可滚动 */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
    width: 100%;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #f0f0f0;
}

nav ul li a.active {
    background-color: #e0e0e0;
    color: #cc0000;
}

section {
    padding: 20px;
    margin-left: 210px; /* 为左侧导航栏留出空间 */
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 120px; /* 留出空间给大标题和导航栏 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

table thead {
    background-color: #e7e7e7;
    color: #333;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #cc0000; /* 北大红 */
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

citation {
    margin: 20px;
    text-align: left;
    font-style: italic;
    color: #666;
}

/* 响应式设计 */
@media (max-width: 768px) {
    nav {
        position: relative;
        width: 100%;
        height: auto;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        padding: 10px 0;
    }

    section {
        margin-left: 0;
        margin-top: 120px;
